

h2{
    color: slateblue;
}

.bg-article{
            background-color: aquamarine;
            }

.color-interno{
    color: blue;
}



#bg-h1{
    background-color: chartreuse;
}